
  <body>
    <app-loader *ngIf="load == true"></app-loader>

    <app-maskloader *ngIf="maskLoad"></app-maskloader>

  <div *ngIf="load != true">
    <h3>All Workflow</h3>

    <div class="table">
      <div class="tabletop">

        <div class="add">
          <button *ngIf="IsAdmin()" class="button addBtn" (click)="showDialog()" ><fa-icon [icon]="add" [size]="'lg'"></fa-icon></button>
        </div>

        <form [formGroup]="tableForm">
        <div class="control" *ngIf="IsAdmin()">
          <select #selectInput formControlName="selectItem" pTooltip="Select this to Add" tooltipPosition="top" [tooltipEvent]="tooltipEvent" [tooltipDisabled]="this.tableForm.valid" [autoHide]="true" (change)="onTypeChange($any($event.target).value)">
            <option value="">-- Select --</option>
            <option value="Last Update Report">Last Update Report</option>
          </select>
          <div *ngIf="tableForm.get('selectItem')?.invalid && (tableForm.get('selectItem')?.dirty || tableForm.get('selectItem')?.touched)" class="error">
            <div *ngIf="tableForm.get('selectItem')?.errors!required">
              *required
            </div>
          </div>
        </div>
      </form>

        <div class="search">
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt5.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
          </span>
        </div>

        <div class="delete">
          <button *ngIf="IsAdmin()" class="button delBtn" role="button" [disabled]="!selected.length" (click)="deleteselectedRows()" ><fa-icon [icon]="del" [size]="'lg'"></fa-icon></button>
        </div>
      </div>
      <p-table #dt5 [value]="WorkflowData" [tableStyle]="{ 'width': '100%' }" styleClass="p-datatable-gridlines"
        [(selection)]="selected"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10,25,50]"
        [loading]="loading"
        [globalFilterFields]="['wfeventname', 'wfeventcode', 'wfdescription', 'stime', 'wfcreatedon', 'wfmodifiedon']"
        class="custom-table"
        [scrollable]="true"
        >
        <ng-template pTemplate="header">
          <tr>
              <th *ngIf="IsAdmin()" style="width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th >#</th>
              <th pSortableColumn="wfeventcode">EVENT CODE<p-sortIcon field="wfeventcode"></p-sortIcon></th>
              <th pSortableColumn="wfeventname">NAME<p-sortIcon field="wfeventname"></p-sortIcon></th>
              <th pSortableColumn="wfdescription">DESCRIPTION<p-sortIcon field="wfdescription"></p-sortIcon></th>
              <th pSortableColumn="stime">TIME<p-sortIcon field="stime"></p-sortIcon></th>
              <th pSortableColumn="wfcreatedon">SCHDULING DAYS<p-sortIcon field="wfcreatedon"></p-sortIcon></th>
              <th *ngIf="IsAdmin()">EDIT</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-Workflow>
          <tr>
              <td *ngIf="IsAdmin()">
                <p-tableCheckbox [value]="Workflow"></p-tableCheckbox>
              </td>
              <td><p-tag [severity]="Workflow.wfactive ? 'success' : 'danger'" [value]="Workflow.wfactive ? 'ACTIVE' : 'IN-ACTIVE'"></p-tag></td>
              <td>{{Workflow.wfeventcode}}</td>
              <td>{{Workflow.wfeventname}}</td>
              <td>{{Workflow.wfdescription}}</td>
              <td>{{Workflow.stime }}</td>
              <td>{{Workflow.schedule_days}}</td>
              <td *ngIf="IsAdmin()"><button class="edtBtn" role="button" (click)="EditModal(Workflow)" ><fa-icon [icon]="edit" [size]="'lg'"></fa-icon></button></td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-Data>
        <tr>
          <td class="footd" colspan="8">No Data Available</td>
        </tr>
      </ng-template>
      </p-table>
    </div>

  </div>
</body>


<!-- Editmodal dialog -->
  <p-dialog [(visible)]="DisplayModal" [draggable]="false" [closable]="false" [style]="{ width: 'auto', height: 'auto' }" [modal]="true">

      <div class="formdiv">

      <form [formGroup]="form"  class="form">

        <div class="act">
          <div class="form-control dis">
            <label for="name">Event Code</label>
            <input type="text" formControlName="wfeventcode" placeholder="Enter" [(ngModel)]="defaultValue" [readOnly]="true" required>
            <div *ngIf="form.get('wfeventcode')?.invalid && (form.get('wfeventcode')?.dirty || form.get('wfeventcode')?.touched)" class="error">
              <div *ngIf="form.get('wfeventcode')?.errors!required">
                *required
              </div>
            </div>
          </div>

          <div class="form-control des">
            <label for="name">ACTIVE</label>
            <div class="checkbox-con">
              <input id="checkbox" type="checkbox" formControlName="wfactive">
            </div>
            <div *ngIf="form.get('wfactive')?.invalid && (form.get('wfactive')?.dirty || form.get('wfactive')?.touched)" class="error">
              <div *ngIf="form.get('wfactive')?.errors!required">
                *required
              </div>
            </div>
          </div>
        </div>

      <div class="form-control">
        <label for="name">Name</label>
        <input type="text" formControlName="wfeventname" placeholder="Enter" required>
        <div *ngIf="form.get('wfeventname')?.invalid && (form.get('wfeventname')?.dirty || form.get('wfeventname')?.touched)" class="error">
          <div *ngIf="form.get('wfeventname')?.errors!required">
            *required
          </div>
        </div>
      </div>

      <div class="form-control des">
        <label for="name">Description</label>
        <textarea class="text-area" type="text" formControlName="wfdescription" placeholder="Enter" required></textarea>
        <div *ngIf="form.get('wfdescription')?.invalid && (form.get('wfdescription')?.dirty || form.get('wfdescription')?.touched)" class="error">
          <div *ngIf="form.get('wfdescription')?.errors!required">
            *required
          </div>
        </div>
      </div>
      
      <div class="form-control des">
        <label for="name">Report to be Send on</label>
        <input type="time" formControlName="stime" placeholder="Enter" required>
        <div *ngIf="form.get('stime')?.invalid && (form.get('stime')?.dirty || form.get('stime')?.touched)" class="error">
          <div *ngIf="form.get('stime')?.errors!required">
            *required
          </div>
        </div>
      </div>

    </form>

    <form [formGroup]="form"  class="form">
      <div class="form-control">
        <label for="name">To Email</label>
        <input type="text" formControlName="atoemail" placeholder="Enter" required>
        <div *ngIf="form.get('atoemail')?.invalid && (form.get('atoemail')?.dirty || form.get('atoemail')?.touched)" class="error">
          <div *ngIf="form.get('atoemail')?.errors!required">
            *required
          </div>
        </div>
      </div>

      <div class="form-control">
        <label for="name">Subject</label>
        <input type="text" formControlName="asubject" placeholder="Enter" required>
        <div *ngIf="form.get('asubject')?.invalid && (form.get('asubject')?.dirty || form.get('asubject')?.touched)" class="error">
          <div *ngIf="form.get('asubject')?.errors!required">
            *required
          </div>
        </div>
      </div>

      <div class="form-control">
        <label for="name">Message</label>
        <textarea class="text-area message" formControlName="amessage" placeholder="Enter" required></textarea>
        <div *ngIf="form.get('amessage')?.invalid && (form.get('amessage')?.dirty || form.get('amessage')?.touched)" class="error">
          <div *ngIf="form.get('amessage')?.errors!required">
            *required
          </div>
        </div>
      </div>
      <div class="check-box">

    </div>
    </form>

    </div>

    <form [formGroup]="form" class="form des">
      <div class="form-control ">
        <label for="name">Select the Reminder Days</label>
        <div class="checkbox">
          <p-checkbox formControlName="schedule_days" name="groupname" value="sun" label="SUN" [(ngModel)]="selectedValues"></p-checkbox>
          <p-checkbox formControlName="schedule_days" name="groupname" value="mon" label="MON" [(ngModel)]="selectedValues"></p-checkbox>
          <p-checkbox formControlName="schedule_days" name="groupname" value="tue" label="TUE" [(ngModel)]="selectedValues"></p-checkbox>
          <p-checkbox formControlName="schedule_days" name="groupname" value="wed" label="WED" [(ngModel)]="selectedValues"></p-checkbox>
          <p-checkbox formControlName="schedule_days" name="groupname" value="thu" label="THU" [(ngModel)]="selectedValues"></p-checkbox>
          <p-checkbox formControlName="schedule_days" name="groupname" value="fri" label="FRI" [(ngModel)]="selectedValues"></p-checkbox>
          <p-checkbox formControlName="schedule_days" name="groupname" value="sat" label="SAT" [(ngModel)]="selectedValues"></p-checkbox>
        </div>
        <div *ngIf="form.get('schedule_days')?.invalid && (form.get('schedule_days')?.dirty || form.get('schedule_days')?.touched)" class="error">
          <div *ngIf="form.get('schedule_days')?.errors!required">
            *required
          </div>
        </div>
      </div>
    </form>

    <ng-template pTemplate="footer">
      <div class="foot">
        <button class="button close" (click)="closeModal()" >CLOSE<fa-icon [icon]="cross"></fa-icon></button>
        <button class="button reset" (click)="resetFrom()">RESET<fa-icon [icon]="reset"></fa-icon></button>
        <button class="button ok" [disabled]="this.form.invalid" (click)="onSubmit()">{{ModalType}}<fa-icon [icon]="check"></fa-icon></button>
      </div>
    </ng-template>
  </p-dialog>
