<body>
  <app-loader *ngIf="load == true" class="divloader"></app-loader>
  
  <app-maskloader *ngIf="maskLoad"></app-maskloader>

<div *ngIf="load != true">

  <div class="table">
    <div class="tabletop">
      <div class="add">
        <button *ngIf="loginType" class="button addBtn" (click)="showDialog()" ><fa-icon [icon]="add" [size]="'lg'"></fa-icon></button>
      </div>
      <div class="search">
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt5.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
        </span>

        <form [formGroup]="Monthform">
          <div class="control">
            <label>Select Month</label>
            <p-calendar appendTo="body" [(ngModel)]="DefaultDate" formControlName="selectMonth" view="month" dateFormat="mm/yy" [readonlyInput]="true"
              [monthNavigator]="true"
              [yearNavigator]="true"
              [maxDate]="maxDate"
              (onSelect)="GetMonthCostData($event)"
              >
            </p-calendar>
          </div>
        </form>
      </div>
      <div class="delete">
        <button *ngIf="loginType" class="button delBtn" role="button" [disabled]="!selected.length" (click)="deleteselectedRows()" ><fa-icon [icon]="del" [size]="'lg'"></fa-icon></button>
      </div>
    </div>
    <p-table id="exportlpgtable" #dt5 [value]="LpgcostData" [tableStyle]="{ 'width': '100%' }" styleClass="p-datatable-gridlines"
      [(selection)]="selected"
      [paginator]="true"
      [rows]="50"
      [rowsPerPageOptions]="[50,100,500,1000]"
      [loading]="loading"
      [globalFilterFields]="['LPG_date', 'LPG_kg_cons', 'LPG_cpkg']"
      class="custom-table"
      [scrollable]="true"
      [scrollHeight]="TableHeight"
      >
      <ng-template pTemplate="header">
        <tr>
            <th *ngIf="loginType" style="width: 4rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="LPG_date">DATE<p-sortIcon field="LPG_date"></p-sortIcon></th>
            <th pSortableColumn="LPG_kg_cons">KILOGRAMS<p-sortIcon field="LPG_kg_cons"></p-sortIcon></th>
            <th pSortableColumn="LPG_cpkg">COST PER KG<p-sortIcon field="LPG_cpkg"></p-sortIcon></th>
            <th *ngIf="loginType">EDIT</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-LpgCost>
        <tr>
            <td *ngIf="loginType">
              <p-tableCheckbox [value]="LpgCost"></p-tableCheckbox>
            </td>
            <td>{{LpgCost.LPG_date}}</td>
            <td>{{LpgCost.LPG_kg_cons}}</td>
            <td>{{Curr.symbol}} {{LpgCost.LPG_cpkg }}</td>
            <td *ngIf="loginType"><button class="edtBtn" role="button" (click)="EditModal(LpgCost)" ><fa-icon [icon]="edit"></fa-icon></button></td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-Data>
      <tr>
        <td class="footd" colspan="5">No Data Available</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <button class="Btn" [disabled]="LpgcostData.length == 0" (click)="exportExcel()">
        <div class="sign"><i class="fi fi-sr-file-excel"></i></div>
        <div class="text">EXPORT</div>
      </button>        
    </ng-template>
    </p-table>
  </div>

</div>
</body>


<p-dialog [(visible)]="DisplayModal" [draggable]="false" [closable]="false" [modal]="true">

  <div class="formdiv">

    <form [formGroup]="form"  class="form">

      <div class="form-control">
        <label for="name">Date</label>
        <input type="date" formControlName="LPG_date" placeholder="Enter" required>
        <div *ngIf="form.get('LPG_date')?.invalid && (form.get('LPG_date')?.dirty || form.get('LPG_date')?.touched)" class="error">
          <div *ngIf="form.get('LPG_date')?.errors!required">
            *required
          </div>
        </div>
      </div>

      <div class="form-control">
        <label for="name">Consumption (Kg)</label>
        <input type="number" formControlName="LPG_kg_cons" placeholder="Enter" required>
        <div *ngIf="form.get('LPG_kg_cons')?.invalid && (form.get('LPG_kg_cons')?.dirty || form.get('LPG_kg_cons')?.touched)" class="error">
          <div *ngIf="form.get('LPG_kg_cons')?.errors!required">
            *required
          </div>
        </div>
      </div>

      <div class="form-control">
        <label for="name">Cost per Kg in {{Curr.code}}</label>
        <input type="number" formControlName="LPG_cpkg" placeholder="Enter" required>
        <div *ngIf="form.get('LPG_cpkg')?.invalid && (form.get('LPG_cpkg')?.dirty || form.get('LPG_cpkg')?.touched)" class="error">
          <div *ngIf="form.get('LPG_cpkg')?.errors!required">
            *required
          </div>
        </div>
      </div>

    </form>

  </div>

  <ng-template pTemplate="footer">
    <div class="foot">
      <button class="button close" (click)="closeModal()" >CLOSE<fa-icon [icon]="cross"></fa-icon></button>
      <button class="button reset" (click)="resetFrom()">RESET<fa-icon [icon]="reset"></fa-icon></button>
      <button class="button ok" [disabled]="this.form.invalid" (click)="onSubmit()">{{ModalType}}<fa-icon [icon]="check"></fa-icon></button>
    </div>
  </ng-template>
</p-dialog>
